.picture {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}


.info h1 {
  margin: 0;
  color: #1c2b2d;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

.info p {
  font-size: 20px;
  color: #1c2b2d;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #cee397;
}


------------ /*grid*/ ---------------
.container {
  display: flex;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  margin-top: 5%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}



------------ /*footer*/ ----------------

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

